<%
    var books           = helpers.transformDataFilesToBooks( data );
    var series          = helpers.getSeries( books );
    var pageTitleSuffix = '';
%>
<% include _header %>

<div class="l-mainframe--filter l-filter-box">
    <div class="l-filter-box--trigger"><a href="#serienauswahl" class="button _is_filter_trigger">Nach Serien filtern</a></div>
    <!-- TODO: check semantics: What about <dialog> <header> and <footer>? -->
    <form class="l-filter-box--dialog series-filter" id="serienauswahl">
        <div class="l-filter-box--dialog-header">
            <div class="l-filter-box--dialog-header-left-column">
                Serien auswählen (<span class="_is_filter_series_count">0</span>/<%= series.length %>&nbsp;gewählt):
            </div>
            <div class="l-filter-box--dialog-header-right-column">
                <a href="#timeline" class="button _is_filter_close_button" title="Dialog schließen">X</a>
            </div>
        </div>
        <div class="l-filter-box--dialog-content">
            <ol class="l-filter-box--checkbox-group">
                <% series.forEach( function( seriesData ) { %>
                   <li class="l-filter-box--checkbox checkbox">
                        <input type="checkbox" name="serie" value="<%= seriesData.name %>" class="checkbox--checkbox" id="series-checkbox-<%= seriesData.id %>" data-book-count="<%=  seriesData.count %>">
                        <label class="checkbox--label" for="series-checkbox-<%= seriesData.id %>"><%= seriesData.name %></label>
                    </li>
                <% }); %>
            </ol>
        </div>
        <div class="l-filter-box--dialog-footer">
            <p class="l-filter-box--dialog-footer-status-box">
                <!-- mobile with JS -->
                <span class="l-filter-box--dialog-footer-status-text-dialog">
                    <span lang="en">Timeline</span> enthält <em class="_is_filter_book_count">x Bücher</em>.
                </span>

                <!-- desktop with JS -->
                <span class="l-filter-box--dialog-footer-status-text">
                    <span lang="en">Timeline</span> für <em class="_is_filter_book_count">x Bücher</em> wird unten angezeigt.
                </span>
            </p>
            <div class="l-filter-box--dialog-footer-button-box">
                <button type="submit" class="button_primary _is_filter_submit_button">Filtern</button> <!-- Desktop without JS || mobile with JS -->
            </div>
        </div>
    </form>
</div>

<main class="l-mainframe--main">
    <div class="l-timeline">
        <ol class="l-timeline--list" id="timeline">
            <%
                books.forEach( function( book, index ) {
                    var classes = [ 'l-timeline--item', '_is_timeline_item' ];
                    classes.push( 'is-l-timeline-item-' + ( index % 2 ? 'even' : 'odd' ) );
                    if ( index === 0 ) {
                        classes.push( 'is-l-timeline-item-first' );
                    }

                    var links = helpers.getBookLinks( book );
            %>
                <li class="<%= classes.join(' ') %>" data-timline-item-series="<%= book.series.name %>">
                    <article class="book-box">
                        <div class="book-box--inner">
                            <div class="book-box--data">
                                <div class="book-box--main">
                                    <h3 class="book-box--title"><%= book.title %></h3>
                                    <p class="book-box--description"><%= helpers.formatAuthors( book.authors ) %></p>
                                </div>

                                <div class="book-box--image-wrapper">
                                    <img src="/img/book-covers/<%= book.id %>.jpg" class="book-box--cover" alt="Buch Cover" />
                                </div>

                                <div class="book-box--header-bar">
                                    <div class="book-box--series"><%= helpers.formatSeriesEpisode( book ) %></div>
                                    <% var formattedPlotTimes = helpers.formatPlotTimes( book ); %>

                                    <time
                                        class="book-box--date tag"
                                        datetime="<%= formattedPlotTimes.primary.dateTime %>"
                                        <% if (
                                                formattedPlotTimes.all.length > 1 ||
                                                ( formattedPlotTimes.all.length === 1 &&
                                                  formattedPlotTimes.all[0].type === 'range'
                                                )
                                        ) { %>
                                            title="<%= formattedPlotTimes.all.map( function( time ) { return time.value; } ).join( ', \n' ) %>"
                                        <% } %>
                                    >
                                        <%- formattedPlotTimes.primary.html %>
                                    </time>
                                </div>
                            </div>

                            <% if ( links.length ) { %>
                                <ul class="book-box--links">
                                    <% links.forEach( function( link ) { %>
                                        <li class="book-box--link-wrapper">
                                            <a
                                                href="<%= link.url %>"
                                                class="book-box--link <%= link.cssClassName %>"
                                                <% if ( link.captionLang !== 'de' ) { %>lang="<%= link.captionLang %>"<%  } %>
                                                <% if ( link.hrefLang    !== 'de' ) { %>hreflang="<%= link.hrefLang %>"<% } %>
                                            >
                                                <%= link.caption %>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            <% } %>
                        </div>
                    </article>
                </li>
            <%
                });
            %>
        </ol>
    </div>
</main>

<% include _footer %>
