<%
    var books           = data.books;
    var series          = helpers.getSeries( books );
    var pageTitleSuffix = '';
%>
<% include _header %>

<!--
<button class="button" onclick="timelineFilter(function(nr){ return nr < 3; })">Remove 3 and 4</button>
<button class="button" onclick="timelineFilter(function(nr){ return nr !== 3; })">Remove 3</button>
<button class="button" onclick="timelineFilter(function() { return true; })">Show all</button>
-->

<div class="l-mainframe--filter l-filter-box">
    <div class="l-filter-box--trigger"><a href="#serienauswahl" class="button _is_filter_trigger">Nach Serien filtern</a></div>
    <form class="l-filter-box--dialog series-filter" id="serienauswahl">
        <div class="l-filter-box--dialog-header">
            Serien auswählen (<span class="_is_filter_series_count">0</span>/<%= series.length %> gewählt):
        </div>
        <div class="l-filter-box--dialog-content">
            <div class="l-filter-box--checkbox-group">
                <% series.forEach( function( seriesData ) { %>
                   <div class="l-filter-box--checkbox checkbox">
                        <input type="checkbox" name="serie" value="<%= seriesData.name %>" class="checkbox--checkbox" id="series-checkbox-<%= seriesData.id %>" data-book-count="<%=  seriesData.count %>">
                        <label class="checkbox--label" for="series-checkbox-<%= seriesData.id %>"><%= seriesData.name %></label>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="l-filter-box--dialog-footer">
            <p class="l-filter-box--dialog-footer-status-box">
                <!-- mobile with JS -->
                <span class="l-filter-box--dialog-footer-status-text-dialog">
                    <span lang="en">Timeline</span> enthält <em class="_is_filter_book_count">x Bücher</em>.
                </span>

                <!-- desktop with JS -->
                <span class="l-filter-box--dialog-footer-status-text">
                    <span lang="en">Timeline</span> für <em class="_is_filter_book_count">x Bücher</em> wird unten angezeigt.
                </span>
            </p>
            <div class="l-filter-box--dialog-footer-button-box">
                <button type="submit" class="button_primary _is_filter_submit_button">Filtern</button> <!-- Desktop without JS || mobile with JS -->
            </div>
        </div>
    </form>
</div>

<main class="l-mainframe--main">
    <div class="l-timeline">
        <ol class="l-timeline--list" id="timeline">
            <%
                books.forEach( function( book, index ) {
                    var classes = [ 'l-timeline--item' ];
                    classes.push( 'is-l-timeline-item-' + ( index % 2 ? 'even' : 'odd' ) );
                    if ( index === 0 ) {
                        classes.push( 'is-l-timeline-item-first' );
                    }

                    var links = helpers.getBookLinks( book );
            %>
                <li class="<%= classes.join(' ') %>" data-timline-item-series="<%= book.series %>">
                    <article class="book-box">
                        <div class="book-box--data">
                            <div class="book-box--main">
                                <h3 class="book-box--title"><%= book.title %></h3>
                                <p class="book-box--description"><%= helpers.formatAuthors( book.authors ) %></p>
                            </div>

                            <!-- TODO: Don't load cover directly from the foreign server. -->
                            <div class="book-box--image-wrapper">
                                <img src="<%= book.coverUrl %>" class="book-box--cover" alt="Buch Cover" />
                            </div>

                            <div class="book-box--header-bar">
                                <div class="book-box--series"><%= helpers.formatSeriesEpisode( book ) %></div>
                                <!-- TODO: <time class="book-box--date tag">2364</time> -->
                            </div>
                        </div>

                        <% if ( links.length ) { %>
                            <ul class="book-box--links">
                                <% links.forEach( function( link ) { %>
                                    <li class="book-box--link-wrapper">
                                        <a
                                            href="<%= link.url %>"
                                            class="book-box--link <%= link.cssClassName %>"
                                            <% if ( link.captionLang !== 'de' ) { %>lang="<%= link.captionLang %>"<%  } %>
                                            <% if ( link.hrefLang    !== 'de' ) { %>hreflang="<%= link.hrefLang %>"<% } %>
                                        >
                                            <%= link.caption %>
                                        </a>
                                    </li>
                                <% }); %>
                            </ul>
                        <% } %>
                    </article>
                </li>
            <%
                });
            %>

            <!--
            <li class="l-timeline--item is-l-timeline-item-odd is-l-timeline-item-first" data-timline-item-series="tngdoppelhelix">
                <article class="book-box">
                    <div class="book-box--data">
                        <div class="book-box--main">
                            <h3 class="book-box--title">Infektion</h3>
                            <p class="book-box--description">John Gregory Betancourt</p>
                        </div>

                        <div class="book-box--image-wrapper">
                            <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                        </div>

                        <div class="book-box--header-bar">
                            <div class="book-box--series">TNG Doppelhelix #1</div>
                            <time class="book-box--date tag">2364</time>
                        </div>
                    </div>

                    <ul class="book-box--links">
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                        </li>
                    </ul>
                </article>
            </li>
            <li class="l-timeline--item is-l-timeline-item-even _is_timeline_item" data-timline-item-series="comic">
                <article class="book-box">
                    <div class="book-box--data">
                        <div class="book-box--main">
                            <h3 class="book-box--title">Infektion</h3>
                            <p class="book-box--description">John Gregory Betancourt</p>
                        </div>

                        <div class="book-box--image-wrapper">
                            <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                        </div>

                        <div class="book-box--header-bar">
                            <div class="book-box--series">TNG Doppelhelix #1</div>
                            <time class="book-box--date tag">2364</time>
                        </div>
                    </div>

                    <ul class="book-box--links">
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                        </li>
                    </ul>
                </article>
            </li>
            <li class="l-timeline--item is-l-timeline-item-odd _is_timeline_item" data-timline-item-series="ds9">
                <article class="book-box">
                    <div class="book-box--data">
                        <div class="book-box--main">
                            <h3 class="book-box--title">Infektion</h3>
                            <p class="book-box--description">John Gregory Betancourt</p>
                        </div>

                        <div class="book-box--image-wrapper">
                            <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                        </div>

                        <div class="book-box--header-bar">
                            <div class="book-box--series">TNG Doppelhelix #1</div>
                            <time class="book-box--date tag">2364</time>
                        </div>
                    </div>

                    <ul class="book-box--links">
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                        </li>
                    </ul>
                </article>
            </li>
            <li class="l-timeline--item is-l-timeline-item-even _is_timeline_item" data-timline-item-series="tngdoppelhelix">
                <article class="book-box">
                    <div class="book-box--data">
                        <div class="book-box--main">
                            <h3 class="book-box--title">Infektion</h3>
                            <p class="book-box--description">John Gregory Betancourt</p>
                        </div>

                        <div class="book-box--image-wrapper">
                            <img src="http://www.cross-cult.de/system/html/ST_DS9_810_cover-65fded03.jpg" class="book-box--cover" />
                        </div>

                        <div class="book-box--header-bar">
                            <div class="book-box--series">TNG Doppelhelix #1</div>
                            <time class="book-box--date tag">2364</time>
                        </div>
                    </div>

                    <ul class="book-box--links">
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_crosscult" lang="en">Cross Cult</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_amazon" lang="en">Amazon</a>
                        </li>
                        <li class="book-box--link-wrapper">
                            <a href="#TODO" class="book-box--link icon_goodreads" lang="en" hreflang="en">Goodreads</a>
                        </li>
                    </ul>
                </article>
            </li>-->
        </ol>
    </div>
</main>

<% include _footer %>

<!--
<script src="js/isotope.js"></script>
<script src="js/jquery.js"></script>
<script>
    var iso = new Isotope( '#timeline', {
        itemSelector: '.l-timeline--item',
    });

    /*
    iso.arrange({
        filter: function( itemElem ) {
            return (parseInt(itemElem.getAttribute('data-item-no'), 10) > 2)
        }
    });
    */

    iso.on('layoutComplete', function(event) {
        event.filteredItems.forEach( function( item, index ) {
//                    item.element.classList.remove('is-l-timeline-item-odd');
//                    item.element.classList.remove('is-l-timeline-item-even');
            item.element.classList.add( index % 2 === 0 ? 'is-l-timeline-item-odd' : 'is-l-timeline-item-even' );
        });

        //iso.layout();
    });

    function timelineFilter(fn) {
        var filter_fn = function( itemElem ) {
            var nr = parseInt(itemElem.getAttribute('data-item-no'), 10);
            return fn(nr);
        };

        var $timeline = jQuery('#timeline');
        $timeline.find('._is_timeline_item').removeClass('is-l-timeline-item-odd is-l-timeline-item-even');

        var visibleItems = [];
        $timeline.find('._is_timeline_item').each(function(index, element) {
            var nr = parseInt(element.getAttribute('data-item-no'), 10);
            if (fn(nr)) {
                visibleItems.push(element);
            }
        });
        visibleItems.forEach(function(element, index) {
            element.classList.add( index % 2 === 0 ? 'is-l-timeline-item-odd' : 'is-l-timeline-item-even' );
        });

        iso.arrange({ filter: filter_fn });
    }
</script>

-->
